[submodule "interface_lib/modules/Fusion"]
	path = interface_lib/modules/Fusion
	url = https://github.com/xioTechnologies/Fusion.git
[submodule "interface_lib/modules/hidapi"]
	path = interface_lib/modules/hidapi
	url = https://github.com/libusb/hidapi.git
